@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* ESTO ASEGURA QUE EL CURSOR SE VEA EN TODA LA PANTALLA */
html, body, button {
    cursor: url('https://cur.cursors-4u.net/games/gam-4/gam388.cur'), auto !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* NUEVO FONDO DIRECTO (Panorama de Minecraft) */
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
                url('https://cdn.wallpapersafari.com/38/5/OqreL1.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'VT323', monospace;
    overflow: hidden;
}

.coordinates {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #FFF;
    font-size: 1.3rem;
    text-shadow: 2px 2px #000;
}

.menu-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border: 4px solid #000;
}

.logo-main {
    color: #FFF;
    font-size: 5rem;
    margin: 0;
    text-shadow: 5px 5px #373737;
}

.logo-sub {
    color: #FFFF00;
    font-size: 2rem;
    margin-top: -10px;
}

.splash-text {
    color: #FFFF00;
    font-size: 1.8rem;
    transform: rotate(-15deg);
    display: inline-block;
    animation: bounce 0.5s infinite alternate;
    margin: 20px 0;
}

@keyframes bounce {
    from { transform: rotate(-15deg) scale(1.0); }
    to { transform: rotate(-15deg) scale(1.1); }
}

.mc-button {
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    background-color: #7c7c7c;
    border: 3px solid #000;
    border-top-color: #dbdbdb;
    border-left-color: #dbdbdb;
    color: #FFF;
    font-family: 'VT323', monospace;
    font-size: 1.6rem;
    text-shadow: 2px 2px #000;
}

.mc-button:hover {
    background-color: #5AA35F;
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal {
    background: #c6c6c6;
    border: 4px solid #000;
    padding: 30px;
    text-align: center;
    color: #000;
}
